/* Other
=================================================================== */
::-webkit-scrollbar {
    height:12px;width: 15px;background:#222222;
}

::-webkit-scrollbar-thumb {
    background-color: #c43c35;-moz-border-radius: 3px;border-radius: 3px;
}

::selection {
    background: #c43c35;
    color: #fff;
}

::-moz-selection {
    background: #c43c35;
    color: #fff;
}

::-webkit-selection {
    background: #c43c35;
    color: #fff;
}

body {
    font-family: "SourceSansProRegular";
}

body a {
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #c43c35;
}

a.brand span {
    color:#c43c35;
    font-size: 25px;
    margin: 0 5px;
}

h1, h2, h3 {
    font-family: 'WalkwayObliqueUltraBoldRg';
    font-size: 35px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    margin: 5px 0;
}

h3 {
    font-size: 17px;
    margin: 2px 0;
}

p {
    font-size: 17px !important;
    letter-spacing: 0;
    line-height: 23px;
    margin: 0 0 10px;
    text-align: justify;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


/* Title
=================================================================== */
.TitleSection {
    text-align: center;
    margin-bottom: 40px;
}

.TitleSection h1 {
    font-family: 'Kelly Slab',cursive !important;
    font-size: 50px;
    text-shadow: 2px 1px 0px #444445;
    filter: dropshadow(color=#444445, offx=2, offy=1);
}

.TitleSection span {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
    font-size: 30px;
    padding: 5px;
    -webkit-border-radius: 10px 3px 10px 3px;
    -moz-border-radius: 10px 3px 10px 3px;
    border-radius: 10px 3px 10px 3px;
    text-shadow: 1px 1px 0px #222222!important;
    filter: dropshadow(color=#c43c35, offx=2, offy=1)!important;
}


/* Navbar
=================================================================== */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #fff !important;
    text-decoration: none;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
    background-color: #c43c35;
    text-shadow: 1px 1px 0 #222222 !important;
}

.navbar .brand {
    margin: 10px 35px 10px 20px;
    padding: 20px 20px 16px 20px;
    float: right;

    -webkit-transition:opacity 0.5s linear 0s;
    -moz-transition:opacity 0.5s linear 0s;
    -o-transition:opacity 0.5s linear 0s;
    transition:opacity 0.5s linear 0s;

    -webkit-box-shadow: 1px 1px 0px 2px rgba(205, 205, 205, .3);
    box-shadow: 1px 1px 0px 2px rgba(205, 205, 205, .3);
    -moz-box-shadow: 1px 1px 0px 2px rgba(205, 205, 205, .3);

    opacity: 0.6;
}

.navbar .brand:hover {
    margin: 10px 35px 10px 20px;
    padding: 20px 20px 16px 20px;
    float: right;

    -webkit-box-shadow: 1px 1px 0px 2px rgba(205, 205, 205, .3);
    box-shadow: 1px 1px 0px 2px rgba(205, 205, 205, .3);
    -moz-box-shadow: 1px 1px 0px 2px rgba(205, 205, 205, .3);
    background-color: #333333;
    opacity: 1;

}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #ffffff !important;
    -webkit-transition: background 500ms ease-out;
    -moz-transition: background 500ms ease-out;
    -ms-transition: background 500ms ease-out;
    -o-transition: background 500ms ease-out;
    transition: background 500ms ease-out;
    text-decoration: none;
}


/* Intro Slide
=================================================================== */
.intro {
    background: url(../images/grilled.png) 50% 0 repeat fixed;
    color: #575757;
    padding: 85px 0 100px;
    z-index: 2;
}

.intro p {
    font-size: 20px;
    line-height: 35px;
    margin: 15px 0;
    text-align: center;
}

.About {
    background: url(../images/groovepaper.png) 50% 0 repeat fixed;
    color: #575757;
    overflow: hidden;
    padding: 100px 0 100px;
    z-index: -1;
}

.Video {
    background: url(../images/groovepaper.png) 50% 0 repeat fixed #ffffff;
    color: #575757;
    padding: 85px 0 100px;
    z-index: 2;
}

.Photo {
    background: url(../images/groovepaper.png) 50% 0 repeat fixed;
    color: #575757;
    padding: 85px 0 100px;
    z-index: 2;
}


.Contact {
    background: url(../images/groovepaper.png) 50% 0 repeat fixed;
    color: #575757;
    overflow: hidden;
    padding: 85px 0 100px;
    z-index: 2;
}
.Merchandise {
    background: url(../images/groovepaper.png) 50% 0 repeat fixed;
    color: #575757;
    overflow: hidden;
    padding: 85px 0 100px;
    z-index: 2;
}
.Blog {
    background: url(../images/groovepaper.png) 50% 0 repeat fixed;
    color: #575757;
    overflow: hidden;
    padding: 85px 0 100px;
    z-index: 2;
}

/* Social Icons - circle big
=================================================================== */
.social-grid {
    margin: 35px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.social-grid li {
    width: 72px;
    height: 72px;
    display: inline-block;
    margin: 6px 12px;
}

.social-grid li a{
    width: 72px;
    height: 72px;
    display:block;
}


.social-item {
    width: 72px;
    height: 72px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: default;
}

.social-info-wrap{
    position: absolute;
    width: 72px;
    height: 72px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;

    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    box-shadow:
        0 0 0 5px #f6f6f6,
        inset 0 0 3px #f6f6f6;

}

.social-info{
    position: absolute;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

}

.social-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    border: 1px solid #999;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.social-info .social-info-back {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    -o-transform: rotate3d(0,1,0,180deg);
    -ms-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
    margin-left: -2px;
}

.social-item:hover .social-info-wrap {
    box-shadow:
        0 0 0 0 rgba(0,0,0,0.8),
        inset 0 0 3px rgba(115,114, 23, 0.8);
}

.social-item:hover .social-info {
    -webkit-transform: rotate3d(0,1,0,-180deg);
    -moz-transform: rotate3d(0,1,0,-180deg);
    -o-transform: rotate3d(0,1,0,-180deg);
    -ms-transform: rotate3d(0,1,0,-180deg);
    transform: rotate3d(0,1,0,-180deg);
}

.social-amazon {
    background: #f6f6f6 url(../icon/social/amazon_grey.png) no-repeat;
}

.social-amazon-hover {
    background: #2f3842 url(../icon/social/amazon_white.png) no-repeat;
}

.social-apple {
    background: #f6f6f6 url(../icon/social/apple_grey.png) no-repeat;
}

.social-apple-hover {
    background: #000000 url(../icon/social/apple_white.png) no-repeat;
}

.social-facebook {
    background: #f6f6f6 url(../icon/social/facebook_grey.png) no-repeat;
}

.social-facebook-hover {
    background: #3b5998 url(../icon/social/facebook_white.png) no-repeat;
}

.social-flickr {
    background: #f6f6f6 url(../icon/social/flickr_grey.png) no-repeat;
}

.social-flickr-hover {
    background: #f1628b url(../icon/social/flickr_white.png) no-repeat;
}

.social-html5 {
    background: #f6f6f6 url(../icon/social/html5_grey.png) no-repeat;
}

.social-html5-hover {
    background: #f3642c url(../icon/social/html5_white.png) no-repeat;
}

.social-paypal {
    background: #f6f6f6 url(../icon/social/paypal_grey.png) no-repeat;
}

.social-paypal-hover {
    background: #32689a url(../icon/social/paypal_white.png) no-repeat;
}

.social-skype {
    background: #f6f6f6 url(../icon/social/skype_grey.png) no-repeat;
}

.social-skype-hover {
    background: #18b7f1 url(../icon/social/skype_white.png) no-repeat;
}

.social-twitter {
    background: #f6f6f6 url(../icon/social/twitter_grey.png) no-repeat;
}

.social-twitter-hover {
    background: #48c4d2 url(../icon/social/twitter_white.png) no-repeat;
}

.social-instagram {
    background: #f6f6f6 url(../icon/social/instagram_grey.png) no-repeat;
}

.social-instagram-hover {
    background: #a47e3c url(../icon/social/instagram_white.png) no-repeat;
}


/* About
=================================================================== */
.Team {
    margin: 10px 5%;
    text-align: center;
}

.Team p {
    text-align: center;
}

.Team h2 {
    margin-bottom: -15px;
}

.Team h3 {
    color: #888888;
    font-size: 15px;
}

.History {
    text-align: center;
    margin-bottom: 30px;
}

.History p {
    text-align: left;
}

.History h2 {
    margin-bottom: -15px;
}

.History h3 {
    color: #888888;
    font-size: 15px;
}

/* Round Thumb
=================================================================== */
.round-thumb-container {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.round-thumb {
    position: relative;
    margin: 0 auto 10px;
    overflow: hidden;
    border: 5px solid #ccc;
    /*ie8 fallback*/
    border: 3px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,0.4);
    -moz-box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,0.4);
    box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,0.4);
}

.round-thumb span {
    width: 100%;
    float: left;
}

.round-thumb, .round-thumb span, .round-thumb span img {
    max-width: 250px;
    max-height: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    border-radius: 250px;
    overflow: hidden;
}

.round-thumb span img {
    position: relative;
    z-index: -1;
    max-width: 100%;
    margin: 0 auto;
    -ms-interpolation-mode: bicubic;
    overflow: hidden;
}

/* Portofolio
=================================================================== */
#filter {
    display: block;
    margin: 55px auto;
    text-align: center;
}

#filter a {
    color: #666;
    display: inline-block;
    height: 39px;
    line-height: 37px;
    padding: 0 15px;
    margin: 0 15px;
    text-shadow: 1px 1px 0 #FFF;
    text-decoration: none;
}

#filter a:hover {
    text-decoration: underline;
}

#filter a.active {
    color: #FFF;
    background-color: #c43c35;
    text-shadow: 1px 1px 1px #06666D;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2),
    -1px 0 0 rgba(255, 255, 255, 0.2),
    1px 0 1px rgba(0,0,0,0.2) inset,
    -1px 0 1px rgba(0,0,0,0.2) inset;
}

/* Portofolio Filter Photo
=================================================================== */
#container {
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

#container li {
    float: left;
    list-style: none outside none;
    margin: 25px 19px 20px;
    position: relative;
    width: 190px;
    height: 240px;
    border-bottom: 1px solid #CCCCCC;
}

#container li:hover {
    border-bottom: 1px solid #c43c35;
}

#container li > div {
    float: left;
}

#container li > div >p , #container li > div >h4 {
    text-shadow: 1px 1px 0 #FFF;
}

#container li img {
    width: 150px;
    height: 150px;
}

#container li img:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.30);
}

#container ul.hidden {
    display: none;
}


/* Filter Thumb
=================================================================== */
.filter-thumb-container {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.filter-thumb {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 0px 7px rgba(255,255,255,0.4);
    -moz-box-shadow: inset 0px 0px 0px 7px rgba(255,255,255,0.4);
    box-shadow: inset 0px 0px 0px 7px rgba(255,255,255,0.4);
}

.filter-thumb span {
    width: 100%;
    float: left;
}

.filter-thumb, .filter-thumb span, .filter-thumb a span img {
    max-width: 260px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    border-radius: 250px;
    overflow: hidden;
}

.filter-thumb a span img {
    position: relative;
    z-index: -1;
    max-width: 100%;
    margin: 0 auto;
    -ms-interpolation-mode: bicubic;
    overflow: hidden;
    -webkit-transition:opacity 0.3s linear 0s;
    -moz-transition:opacity 0.3s linear 0s;
    -o-transition:opacity 0.3s linear 0s;
    transition:opacity 0.3s linear 0s;
    opacity: 1;
}

.filter-thumb a:hover span img {
    opacity:0.8;
}

/* Service
=================================================================== */
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols-regular-webfont.woff');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('websymbols/websymbols-regular-webfont.woff') format('woff'),
    url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
    url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ca-menu {
    font-family: 'Kelly Slab',cursive !important;
    padding: 0;
    margin: 20px auto;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    background: #fff;
}

.ca-menu h1,.ca-menu h2 {
    font-family: 'Kelly Slab',cursive !important;
}

.ca-menu div {
    overflow: hidden;
    position: relative;
    display: block;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.ca-menu div a {
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #575757;
    position: relative;
}

.ca-icon {
    font-size: 35px;
    color: #575757;
    text-shadow: 0px 0px 1px #333;
    line-height: 90px;
    position: absolute;
    width: 90px;
    left: 20px;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.ca-content {
    position: absolute;
    left: 120px;
    top: 0;
}

.ca-content h2 {
    line-height: 25px;
    margin-top: 23px;
    width: 70%;
}

.ca-content h3 {
    line-height: 27px;
    margin-bottom: 15px;
    width: 75%;

}

.ca-main {
    font-size: 25px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.ca-menu:hover {
    background: #c43c35;
}

.ca-menu a:hover {
    background: #c43c35;
}

.ca-sub {
    font-size: 14px;
    color: #666;
}

.ca-menu div:hover .ca-icon {
    color: #fff;
    font-size: 120px;
    opacity: 0.3;
    left: -20px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    text-shadow: 1px 1px 0px #1f7a71!important;
    filter: dropshadow(color=#1f7a71, offx=2, offy=1)!important;
}

.ca-menu div:hover .ca-main {
    text-shadow: 1px 1px 0px #1f7a71!important;
    filter: dropshadow(color=#1f7a71, offx=2, offy=1)!important;
    color: #fff;
    opacity: 0.9;
}

.ca-menu div:hover .ca-sub {
    text-shadow: 1px 1px 0px #1f7a71!important;
    filter: dropshadow(color=#1f7a71, offx=2, offy=1)!important;
    color: #fff;
    opacity: 0.8;
}

/* Pricing Table
=================================================================== */
.PricingTables {
    padding: 0;
    cursor: pointer;
    margin: 25px 0 0;
}

.PricingTables p {
    padding: 0 10px;
    margin: 10px 0;
    text-align: center;
}

.PricingTables p span {
    padding: 10px 15px;
}

.PricingTables ul {
    border-top: 1px dotted #D6D6D6;
    margin: 10px auto;
    padding: 5px 0;
}

.PricingTables ul li {
    border-bottom: 1px dotted #D6D6D6;
    padding: 10px 15px;
}

.PricingTables ul li:hover {
    border-bottom: 1px dotted #c43c35;
}

.PricingTables i {
    margin: 0 5px 0 0;
}

.PricingTables h2 {
    background: none repeat scroll 0 0 #c43c35;
    border-bottom: 1px dashed #FFFFFF;
    color: #FFFFFF;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.PricingTables h3 {
    background: none repeat scroll 0 0 #666;
    border-bottom: 1px dashed #FFFFFF;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}

a.btn,button.btn {
    background: #c43c35;
    margin: 25px 0;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

a.btn:hover ,button.btn:hover {
    background: #666;
    color: #FFF;
}

.Standard:hover {
    position: relative;
    top: -3px;
}

.Professional:hover {
    position: relative;
    top: -3px;
}

.Premium:hover {
    position: relative;
    top: -3px;
}

.Special {
    color: #c43c35;
    text-shadow: 1px 1px 1px #fff;
}


/* Back To Top
=================================================================== */
#toTop {
    background: url("../images/backtotop.png") no-repeat scroll center center #e9e9e9;
    bottom: 10px;
    color: #333333;
    cursor: pointer;
    display: none;
    height: 30px;
    width: 30px;
    text-indent: -9999px;
    position: fixed;
    right: 5px;
    text-align: center;
    z-index: 500;
}

#toTop:hover {
    opacity: .7;
}


/* Footer
=================================================================== */
.Footer {
    background: #252525;
    text-align: center;
}

.Footer .container{
    padding-top: 15px;
}
.Footer a.brand {
    font-family: 'Kelly Slab', cursive;
    color: #eeeeee;
    display: block;
    font-size: 35px;
    font-weight: lighter;
    margin: 10px 0 6px 0;
    padding: 24px 0 16px 0;
    text-shadow: 2px 1px 0 #000;
    filter: dropshadow(color=#000, offx=2, offy=1);
    text-transform: uppercase;
    clear: both;
}

.Footer a.brand:hover {
    text-decoration: none;
}

.Footer	.Social {
    margin: 0px 23% 20px!important;
}

.Footer p {
    color: #F8F8F8;
    margin: 10px auto;
    text-align: center;
}